pipeline/002 - Run Serverless Workflow via Web API.json
{
	"name": "002 - Run Serverless Workflow via Web API",
	"properties": {
		"description": "This pipeline shows how to invoke a Databricks job via API. The benefits of this approach are total control over the cluster configuration, permissions, and job parameters.",
		"activities": [
			{
				"name": "Execute Job with Parameters",
				"description": "This step dynamically takes in a jobID and workspaceID as parameters and begins a new run of that job.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"job_id\":',pipeline().parameters.JobID,'}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
					}
				}
			},
			{
				"name": "Wait Until Job Completes",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Execute Job with Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('JobStatus'),'Running'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Job Run API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/runs/get?run_id=',activity('Execute Job with Parameters').output.run_id)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d"
								}
							}
						},
						{
							"name": "Set Job Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check Job Run API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobStatus",
								"value": {
									"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.result_state\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait to Recheck API",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Job Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitSeconds",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"JobID": {
				"type": "String",
				"defaultValue": "398262177868775"
			},
			"DatabricksWorkspaceID": {
				"type": "String",
				"defaultValue": "adb-984752964297111.11"
			},
			"WaitSeconds": {
				"type": "Int",
				"defaultValue": 30
			}
		},
		"variables": {
			"JobStatus": {
				"type": "String"
			}
		},
		"annotations": [
			"This pipeline shows how to invoke a Databricks job via API. The benefits of this approach are total control over the cluster configuration, permissions, and job parameters."
		],
		"lastPublishTime": "2024-05-19T20:34:57Z"
	}
}